


/* big tablets from 1200px */
@media screen and (max-width: 1200px) {
  .hero-text-box{
     width: 100%;
     padding: 0,2%;
  }
  .row1{padding: 0,2%;}
}

/* media quearies for small tablets to big tablets from 768 to 1023px */
@media screen and (max-width: 1023px) {
  .long-copy{
    width: 80%;
    margin-left: 10%;
  }
  body{font-size: 18px;}
  section{padding: 60px 0;}
  .step-box{margin-top: 10px;}
  .step-box:last-child{margin-top: 10px;}
  .works-step{margin-bottom: 30px;}
  .works-step:last-child{margin-bottom: 60px;}
  .app-screen{width: 50%;}
  .icon-small{
    width: 17px;
  margin-right: 5px;
     }
     .city-feature{font-size:90%;}
     .plan-bo{width: 100%;margin-left: 0%;}
     .plan-price{font-size: 250%;}
     .contact-form{width: 80%;}
}


/* media quearies for small tablets from 481 to 767px */
@media screen and (max-width: 767px) {
  body{font-size: 16px;}
  section{padding: 40px 0;}
  .hero-text-box{padding: 0 2%;}
  .col{width: 100%;
    margin: 0 0 4% 0;
    }
    .main-nav{display: none;}
    .app-screen{width: 70%;}
    .step-box:first-child{text-align: center;}
    .works-step div{width: 40%;
    height: 40%;
    margin-right: 15px;
   padding: 4px;
   font-size: 120%;}
   .works-step{margin-bottom: 20px;}
    .works-step:last-child{margin-bottom: 20px;}
}


/* media quearies for small phines and devices from 0 to 480px */
@media screen and (max-width: 480px) {
section{padding: 20px 0;}
.contact-form{width: 100%;}
}